<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!--if adding attribte abstract, spring does not create this bean-->
    <bean id="parenttriangle" class="org.javabrains.Triangle" abstract="true">
        <property name="points" >
            <list>
                <ref bean="pointA"/>
            </list>
        </property>
    </bean>

    <bean id="triangle1" class="org.javabrains.Triangle" parent="parenttriangle">
        <property name="points" >
            <!--if adding merge here, than spring merges bean B and bean A-->
            <list merge="true">
                <ref bean="pointB"/>
            </list>
        </property>
    </bean>

    <bean id="triangle2" class="org.javabrains.Triangle" parent="parenttriangle">
        <property name="pointB" ref="pointB"/>
    </bean>

    <bean id="pointA" class="org.javabrains.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>
    <bean id="pointB" class="org.javabrains.Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>
    <bean id="pointC" class="org.javabrains.Point">
        <property name="x" value="0"/>
        <property name="y" value="20"/>
    </bean>

    <alias name="triangle1" alias="triangle-alias"/>

</beans>